.bg-pojok-kiri {
    position: absolute;
    right: 15%;
    z-index: 2;
    top: 0;
    width: 175px;
    opacity: 0.2;
    height: auto;
    @media screen and (max-width: 768px) {
        right: -8%;
        width: 100px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.tong-bawah-kiri {
    position: absolute;
    bottom: 0;
    left: 15%;
    width: auto;
    height: 300px;
    @media screen and (max-width: 768px) {
        height: 200px;
        left: -8%;
        bottom: 8%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.ml-30 {
    @media screen and (max-width: 768px) {
        margin-left: 72px;
    }
}

.anim {
    position: absolute;
    z-index: 2;
    // inset: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
    @media screen and (max-width: 768px) {
        opacity: 0.8;
        top: 30%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.coba {
    position: fixed;
    z-index: 2;
    // inset: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    @media screen and (max-width: 768px) {
        opacity: 0.8;
        // top: 50%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.min-auto {
    min-height: auto;
    padding: 0;
}
.data {
    .lawyers {
        width: 460px;
        height: auto;
        // background: #4e2638;
        padding: 16px 8px;
        margin: 0 auto;
        // border: 2px solid white;
        @media screen and (max-width: 768px) {
            width: auto;
            padding: 8px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .fbi {
        position: relative;
        width: 420px;
        top: 20vh;
        height: 380px;
        margin: 0 auto 16px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9;
            height: 10px;
            width: 100%;
            background: #331221;
            // background: linear-gradient(to top, #4e2638, transparent);
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            // height: auto;
            // height: 300px;
        }
        .img-f {
            &.topx {
                z-index: 8;
            }
            position: absolute;
            inset: 0;
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &.kotak {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: url("../img/kotak.png");
            background-repeat: repeat;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #4e2638, rgba(#4e2638, 0.7), #4e2638);
        }
    }
    .hello {
        p {
            color: #333;
        }
    }
    .image {
        width: 360px;
        margin: 0 auto 16px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .lambo {
        width: 460px;
        height: auto;
        margin: 0 auto 16px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .top-mt {
        margin-top: -30vh;
    }
    .img {
        width: auto;
        height: 300px;
        margin-bottom: 16px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .imgs {
        width: 100%;
        height: 350px;
        position: absolute;
        top: 10%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .h-30 {
        margin: 0 auto 8px;
        width: 40% !important;
        @media screen and (max-width: 768px) {
            width: 70% !important;
        }
        img {
            object-fit: cover;
        }
    }
    .bukti {
        width: 100%;
        height: 380px;
        border: 4px solid white;
        @media screen and (max-width: 768px) {
            height: 250px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .sumber {
        color: #fbafef;
        font-size: 0.9rem;
        margin: 8px 0 24px;
        div {
            line-height: 1.2rem;
            font-family: "Playfair Display";
        }
    }
}

section {
    p {
        color: #fafafa;
    }
}

.ml-75 {
    @media screen and (max-width: 768px) {
        width: 70%;
    }
}

.img-blur-bawah {
    width: 220px;
    position: relative;
    height: auto;
    &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        height: 50vh;
        background: linear-gradient(to top, #4e2638, transparent);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.wraping {
    width: 100%;
    height: 240px;
    position: relative;
    margin-bottom: 16px;
    @media screen and (max-width: 768px) {
        height: 160px;
    }

    @keyframes MoveUpDown {
        0% {
            bottom: 80px;
            left: 0;
            opacity: 0;
        }
        10% {
            bottom: 80px;
            left: 0;
            opacity: 0;
        }
        20% {
            bottom: 80px;
            left: 0;
            opacity: 1;
        }
        50% {
            bottom: 140px;
            left: 30%;
        }
        90% {
            bottom: 60px;
            left: 70%;
            opacity: 1;
        }
        100% {
            bottom: 60px;
            left: 70%;
            opacity: 0;
        }
    }
    .pesawat {
        position: absolute;
        animation: MoveUpDown 5s linear infinite;
        left: 0;
        bottom: 80px;
        opacity: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media screen and (max-width: 768px) {
            width: 90px;
            bottom: 80px;
        }
    }
    .bendera {
        position: absolute;
        width: 120px;
        height: auto;
        @media screen and (max-width: 768px) {
            width: 60px;
        }
        .name {
            font-size: 1rem;
            color: white;
            text-align: center;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &.usa {
            left: 0;
            bottom: 0;
        }
        &.ina {
            right: 0;
            bottom: 0;
        }
    }
}
