.bg-pojok-kiri {
    position: absolute;
    right: 15%;
    z-index: 2;
    top: 0;
    width: 175px;
    opacity: 0.2;
    height: auto;
    @media screen and (max-width: 768px) {
        right: -8%;
        width: 100px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.tong-bawah-kiri {
    position: absolute;
    bottom: 0;
    left: 15%;
    width: auto;
    height: 300px;
    @media screen and (max-width: 768px) {
        height: 200px;
        left: -8%;
        bottom: 8%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.ml-30 {
    @media screen and (max-width: 768px) {
        margin-left: 72px;
    }
}

.anim {
    position: absolute;
    z-index: 2;
    // inset: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
    @media screen and (max-width: 768px) {
        opacity: 0.8;
        top: 30%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.coba {
    position: fixed;
    z-index: 2;
    // inset: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    @media screen and (max-width: 768px) {
        opacity: 0.8;
        // top: 50%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.data {
    .hello {
        p {
            color: #333;
        }
    }
    .top-mt {
        margin-top: -30vh;
    }
    .img {
        width: auto;
        height: 300px;
        margin-bottom: 16px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .imgs {
        width: 100%;
        height: 350px;
        position: absolute;
        top: 10%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .h-30 {
        margin: 0 auto 8px;
        width: 40% !important;
        @media screen and (max-width: 768px) {
            width: 70% !important;
        }
        img {
            object-fit: cover;
        }
    }
    .bukti {
        width: 100%;
        height: 50%;
        border: 4px solid white;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .sumber {
        color: #fbafef;
        font-size: 0.9rem;
        margin: 8px 0 24px;
        div {
            line-height: 1.2rem;
            font-family: "Playfair Display";
        }
    }
}

section {
    p {
        color: #fafafa;
    }
}

.ml-75 {
    @media screen and (max-width: 768px) {
        width: 70%;
    }
}

.img-blur-bawah {
    width: 220px;
    position: relative;
    height: auto;
    &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        height: 50vh;
        background: linear-gradient(to top, #4e2638, transparent);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
